<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">
    #if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="com.cgcg.mybatis.redis.RedisCacheManager"/>

    #end
    #if(${baseResultMap})

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
        #foreach($field in ${table.fields})
            #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
            #end
        #end
        #foreach($field in ${table.fields})
            #if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}"/>
            #end
        #end
        #foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}"/>
        #end
    </resultMap>

    #end
    #if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        #foreach($field in ${table.fields})    ${field.name},#end#set($index = 0)#set($length=$table.fields.size())#foreach($field in ${table.commonFields})   ${field.name}#if($index != $length),#end#set($index = $index + 1)#end
    </sql>

    <!-- 批量添加 -->
    <insert id="insertBatch" parameterType="${package.Entity}.${entity}">
        INSERT INTO ${table.name}
        (
        #foreach($field in ${table.fields})
        ${field.name},
        #end#set($index = 0)#set($length=$table.fields.size())#foreach($field in ${table.commonFields})
        ${field.name}#if($index != $length),
        #end#set($index = $index + 1)#end
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
#foreach($field in ${table.fields})
            #{item.${field.propertyName}},
#end#set($index = 0)#set($length=$table.fields.size())#foreach($field in ${table.commonFields})
            #{item.${field.propertyName}}#if($index != $length),
        #end#set($index = $index + 1)#end
            )
        </foreach>
    </insert>
    #end

</mapper>

