package ${package.Service};

import java.util.List;

import com.cgcg.mybatis.plus.IService;
import ${package.Entity}.${entity};

/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @date ${cfg.datetime}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        /**
         * 查询$!{table.comment}分页数据
         *
         * @param keyword 关键字
         * @return List<User>
         * @author zhicong.lin
         * @date ${cfg.datetime}
         */
        List<${entity}> findByKeyword(String keyword);
        }
#end

